/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <behaviors.dtsi>


// layer mappings:
#define NAV_LYR 1
#define MSE_LYR 2
#define BUT_LYR 3
#define MED_LYR 4
#define NUM_LYR 5
#define SYM_LYR 6
#define FUN_LYR 7

/ {
        keymap {
                compatible = "zmk,keymap";

default_layer {
// -----------------------------------------------------------------------------------------
//  | ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |BSPC |
//  | TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
//  | SHFT|  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC |
//                    | GUI | SPC | TAB |   | ENT | BSPC | DEL |
//                    | GUI | NAV | MSE |   | SYM | NUM  | FUN |
    bindings = <
        &kp TAB   &kp Q &kp W &kp E &kp R &kp T         &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
        &kp LCTRL &kp A &kp S &kp D &kp F &kp G         &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B         &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
        &kp LGUI &lt NAV_LYR SPACE &lt NAV_LYR TAB      &lt SYM_LYR RETURN &lt NAV_LYR BSPC &lt NAV_LYR DEL
    >;
};

nav_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |REDO |PSTE | CPY | CUT |UNDO |     |
// |     | WIN | ALT |CTRL |SHFT |     |   |CAPS | LFT | DWN |  UP | RGT |     |
// |     |     |     |     |     |     |   | INS |HOME |PGDN |PGUP | END |     |
//                   |     |     |     |   | ENT |     | ALT |
    bindings = <
        &trans &trans &trans &trans &trans &trans           &trans &trans &trans &trans &trans &trans
        &trans &kp LGUI &kp LALT &kp LSHFT &trans           &kp CAPS &kp LEFT &kp DOWN &kp UP &kp RIGHT
        &trans &trans &trans &trans &trans &trans           &trans &kp HOME &kp PG_DN &kp PG_UP &kp END
                &trans &trans &trans                                &kp ENTER &trans &kp RALT
    >;
};



        };
};



                
